* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

/* .font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
} */

/* *Shared Style */
.btn {
    padding: 12px 16px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    color: #ffff;
}


/* * Header Section style start */
header {
    background-color: #ffff;
    margin: 16px auto;
}

nav {
    max-width: 85%;
    width: 1360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

nav .nav-logo {
    width: 139px;
    height: 60px;
}

nav .nav-menu {
    display: flex;
    gap: 32px;
    list-style: none;
    font-size: 16px;
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
    color: #000000;
}

/* !! shared Icon */
nav .btn {
    margin: 12px 16px;
}


/* *Hero section style start */

.hero {
    max-width: 1600px;
    background: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 115px 120px 179px;
    margin-bottom: 40px;
}

/* !!!Shared style */
.hero .hero-container {
    max-width: 85%;
    width: 1360px;
    margin: 0 auto;
    text-align: center;
}

.hero-container .hero-title-button {
    padding: 8px 10px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    color: #30B868;
}

.hero-container h1 {
    font-size: 72px;
    color: #ffff;
    margin-bottom: 16px;
}

.hero-container span {
    color: #30B868;
}

.hero-container .hero-summery {
    font-size: 18px;
    color: #ffff;
    line-height: 24px;
    margin-bottom: 32px;
}

.hero .btn-02 {
    padding: 12px 16px;
    background-color: transparent;
    border: 1px solid #ffff;
    border-radius: 4px;
    font-size: 16px;
    color: #ffff;
    margin-left: 16px;
}

/* * Note Section Start */

.note {
    max-width: 1600px;
}

.note .note-container {
    max-width: 85%;
    /* width: 1360px; */
    margin: 0 auto;
    text-align: center;
}

.note-heading h1 {
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.note-heading p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}

.note-container .card-container {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.card-container .card {
    width: 322px;
    padding: 24px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);

}


.card .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F95555;
    margin: 55px 131px 16px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card h2 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.card p {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 16px;
}

/* * Brain Section Style Start */

.brain-sectiion {
    max-width: 1600px;
}

.brain-container {
    max-width: 85%;
    width: 1360px;
    margin: 0 auto 120px auto;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 60px;
}

.brain-container .brain-image {
    max-width: 600px;
}

.brain-heading {
    text-align: left;
}

.brain-heading h6 {
    font-size: 16px;
    font-weight: 600px;
    color: #30B868;
    margin-bottom: 16px;
}

.brain-heading h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.brain-heading p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
    line-height: 20px;
}

.brain-heading ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #001931;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.brain-heading ul i{
    width: 20px;
    height: 20px;
    /* text-align: center; */
    /* justify-content: center; */
    /* align-items:  center; */
    border-radius: 50%;
    color: #ffffff;
    background-color: #30B868;

}


/* *Challenge Section Style Start */
.challenge {
    max-width: 1600px;
}

.challenge .challenge-container {
    max-width: 85%;
    width: 1360px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    background-color: #eceff1;
    border-radius: 10px;
}

.challenge-container {
    padding: 80px 40px;
}

.challenge-container h2 {
    font-size: 40px;
    columns: #001931;
    margin-bottom: 16px;
}

.challenge-container p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 24px;
    line-height: 24px;
}

.challenge-container .btn {
    padding: 12px 16px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    color: #ffff;
    margin-bottom: 16px;
}

.challenge-container .challenge-botton-paragraph {
    font-size: 16px;
    color: #627382;
}

/* * Footer Section Style Start */
footer {
    width: 100%;
    max-width: 1600px;
    background-color: #001931;
    margin: 120px auto 0 auto;
    padding: 120px 0 80px 0;
}

.footer-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}

.footer-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.footer-logo {
    height: auto;
    max-width: 127px;
}

.footer-social h4 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
}

.footer-social .icon {
    display: flex;
    gap: 16px;

}

.icon img {
    width: 24px;
    height: 24px;
}

hr {
    border: 0;
    border-top: 1px solid gray;
    margin-top: 20px;
}

.footer-copyright {
    font-size: 16px;
    color: #FAFAFA;
    margin-top: 30px;
}